article {
    margin: 1rem;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 10px;
}

.pure-table {
    background-color: white;
}

.pure-table tr:nth-child(even) td {
    background-color: #f0f0f0;
}

.pure-table td.functional-error {
    background-color: #ffaaa599 !important;
}

.pure-table td.functional-warning {
    background-color: #ffd3b699 !important;
}
